In [4]:
# Original salaries list
salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']

# 1. Length of the list
length_of_list = len(salaries)
print(length_of_list)

7

In [6]:
# 2. Retrieve the third salary by index
third_salary = salaries[2]
print(third_salary)

50k

In [8]:
# 3. Extract the last salary using a negative index
last_salary = salaries[-1]
print(last_salary)

40k

In [10]:
# 4. Slice the list to get the middle three salaries
middle_three_salaries = salaries[2:5]
print(middle_three_salaries)

['50k', '60k', '35k']

In [12]:
# 5. Add a new salary '100k' using append()
salaries.append('100k')
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [14]:
# 5. Add a new salary '120k' without using a method
salaries += ['120k']
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

In [16]:
# 6. Replace the third salary with '55k' and print the updated list
salaries[2] = '55k'
print(salaries)

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [20]:
# 7. Count how many times '40k' appears in the list
count_40k = salaries.count('40k')
print(count_40k)

2

In [22]:
# 8. Insert a new salary at the second position
salaries.insert(1, '70k')
print(salaries)

['20k', '70k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [26]:
# 9. Reverse the order of the list using a method
salaries.reverse()
print(salaries)

['20k', '70k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [28]:
# 10. Reverse the order of the list without using a method
salaries = salaries[::-1]
print(salaries)

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '70k', '20k']